{% extends 'coinmarketapp/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="login-container">
    <div class="form-box">
      <h1 id="title">Change Password</h1>

      <!-- Display messages here -->
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <form method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        {% if error_message %}
          <p class="error">{{ error_message }}</p>
        {% endif %}
        <div class="input-group">
            {{ form.non_field_errors }}
            {{ form.old_password.errors }}
            <div class="input-field">
                <label for="old_password">Old Password:</label>
                <input type="password" name="old_password" id="old_password" required><br>
                {{ form.old_password.errors }}
            </div>

            {{ form.new_password1.errors }}
            <div class="input-field">
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password1" id="new_password" required><br>
                {{ form.new_password1.errors }}
            </div>

            {{ form.new_password2.errors }}
            <div class="input-field">
                <label for="confirm_new_password">Confirm New Password:</label>
                <input type="password" name="new_password2" id="confirm_new_password" required><br>
                {{ form.new_password2.errors }}
            </div>

            <div class="btn-field">
                <button type="submit">Change Password</button>
            </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
{% endblock content %}
