{% extends 'coinmarketapp/base.html' %}
{%  load static %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="form-box">
            <h1 id="title">Sign Up</h1>
            <form method="post">
                {% if form.errors %}
    <div class="alert alert-danger">
        <strong>Error:</strong> Please correct the errors below.
        {{ form.errors }}
    </div>
{% endif %}


                {% csrf_token %}
                <div class="input-group">

                        <div class="input-field" id="namefield">

                            <label for="id_username">Username:</label>
                            <input type="text" name="username" required id="id_username">
                        </div>
                       
                        <div class="input-field" id="passwordfield">
                            <label for="id_password1">Password:</label>
                            <input type="password" name="password1" required id="id_password1">
                        </div>
                        <div class="input-field" id="passwordfield">
                            <label for="id_password2">Confirm Password:</label>
                            <input type="password" name="password2" required id="id_password2">
                        </div>
                        <div class="btn-field">
                            <button type="submit">Sign Up</button>
                        </div>
            </div>
            </form>
            <p class="base-line">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
        </div>
    </div>
</body>
</html>

{% endblock content %}


