.idea
*.pyc
db.sqlite3
coinmarketapp/__pycache__/admin.cpython-311.pyc
coinmarketapp/__pycache__/__init__.cpython-311.pyc
coinmarketapp/__pycache__/apps.cpython-311.pyc
coinmarketapp/__pycache__/models.cpython-311.pyc
coinmarketapp/__pycache__/urls.cpython-311.pyc
coinmarketapp/__pycache__/views.cpython-311.pyc
coinmarketapp/migrations/__pycache__/0001_initial.cpython-311.pyc
coinmarketapp/migrations/__pycache__/__init__.cpython-311.pyc
Digix/__pycache__/__init__.cpython-311.pyc
Digix/__pycache__/settings.cpython-311.pyc
Digix/__pycache__/urls.cpython-311.pyc
coinmarketapp/__pycache__/__init__.cpython-312.pyc
coinmarketapp/__pycache__/admin.cpython-312.pyc
coinmarketapp/__pycache__/apps.cpython-312.pyc
coinmarketapp/__pycache__/models.cpython-312.pyc
coinmarketapp/__pycache__/urls.cpython-312.pyc
coinmarketapp/__pycache__/views.cpython-312.pyc
coinmarketapp/migrations/__pycache__/__init__.cpython-312.pyc
coinmarketapp/migrations/__pycache__/0001_initial.cpython-312.pyc
Digix/__pycache__/__init__.cpython-312.pyc
Digix/__pycache__/settings.cpython-312.pyc
Digix/__pycache__/urls.cpython-312.pyc
Digix/__pycache__/wsgi.cpython-312.pyc
db.sqlite3
venv/pyvenv.cfg
