*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Inter:700,400");

body {
    background-image: url('../images/background.jpg'); /* URL to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    color: #fff; /* Set text color for readability */
    /* Additional styling for your content */
}
/* Style the login form container */
.login-container {
    width: 100%;
    height: 75vh;
    /*background-image: linear-gradient(rgba(1, 23, 20, 0.841),rgba(1, 35, 18, 0.9)),url('../images/background.jpg');*/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box{
    width:90%;
    max-width: 450px;

    background: rgba(60, 161, 141, 0.508);
    padding: 2rem 3rem;
    text-align: center;
    border-radius: 10px;
}


.form-box h1{
    font-size: 30px;
    margin-bottom: 2rem;
    color: white;
    position: relative;
    font-family: "Inter", Helvetica;
    font-weight: 800;
}

.input-group{
    /*height: 280px;*/
    justify-content: center;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    font-size: 18px;
}

label {
    font-size: 15px;
    color: #303135;
    padding: 10px;
    font-weight: bold;
    width: 30%;
}


.btn-field{
    width: 100%;



}

.btn-field button{
    flex-basis: 48%;
    background:#303135;
    color: white;
    height: 40px;
    border-radius: 16px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    width: 12rem;
    margin: 2rem 0;
}

.base-line{
    font-size: 18px;
    color: #000c09fd;
    font-weight: bold;
}

.base-line > a {
    color: #0e3228;
    font-weight: bold;
}







