/* Reset some default styles */
{% load static %}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #20232a;
    color: white;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: auto;
}

.trend img{
    width: 800px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: white;
}

.latest{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;

  margin-bottom: 1rem;
}

.navbar{
  width: 90%;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  justify-content: space-between;
  margin: 0rem 2rem;
}

.header{
  display: flex;
  flex-direction: column;
  background-color: #303135;
}

/*main {*/
/*    !*max-width: 800px;*!*/
/*    !*margin: 0 auto;*!*/
/*    !*padding: 2rem;*!*/
/*}*/

.section-crypto-list{
  /* display: flex; */
  background-color: #303135;
  /* flex-direction: column; */
  /* align-items: center; */
  color: white;
  /* height: 120vh; */
}

.crypto-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 75%; */
  margin-bottom: 2rem;
}

.crypto-list h1 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.demo-text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.content {
    flex: 1;
    /*max-width: 800px;*/
    /*margin: 0 auto;*/
    /*padding: 2rem;*/
    /*background-image: url("hero.jpg");*/
    background-size: contain;
    background-color: #303135;
}
.crypto-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 75%; */
  margin-bottom: 2rem;
}
.crypto-page h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}
.demo-background {
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
}

.u-color-white{
    color: white;
}

.u-center-text{
    text-align: center;
}

.u-text-upper{
    text-transform: uppercase;
}

.u-position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

footer {
    background-color: #20232a;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.btn-highlights-toggle {
    display: inline-block;
    padding: 15px 30px;
    background-color: rgba(33, 167, 130, 1);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 2rem;
  /*float: right;*/
}


/* Default styles */
.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Full width */
    height: 300px; /* A fixed height that works for your design */
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive styles for larger screens */
@media (min-width: 768px) {
    .background-image {
        height: 720px; /* Match the image height on larger screens */
    }
}


.desktop {
  background-color: #303135;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: var(--variable-collection-color-grey);
  width: 1440px;
  height: 1024px;
  position: relative;
}

/*.desktop .section-trending {*/
/*  position: absolute;*/
/*  width: 1167px;*/
/*  height: 306px;*/
/*  top: 241px;*/
/*  left: 150px;*/
/*}*/

.section-trending{
  background-color:rgba(48, 49, 53, 1);
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.toggle-highlights{
  margin-bottom: 2rem;
}

.trending-box{
  width: 540px;
  height: 306px;
  border-radius: 15px;
  overflow: hidden;
  border: 0.5px solid;
  border-color: #21a782;
  color: white;
  font-weight: 600;
  position: relative;
}

.trending-item{
  display: flex;
  align-items: center;
  word-spacing: 30px;
  padding: 1rem;
}

.trending-item--logo{
  width: 2rem;
  margin-right: 1rem;
}

.trending-header{
  padding-top: 1rem;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
    margin-bottom: 2rem;
}

.text-wrapper{
  width: 100%;
}

.u-text-color-green{
  color:#21a782;
}

.u-text-color-red{
  color:#a72121;
}

.u-float-right{
  float: right;
}

.u-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.indicator-text{
  top: 30%;
}

.u-text-size-large{
  font-size: 3rem;
}

.meter{
  margin-top: 2rem;
}

.indicator{
  margin-top: 4rem;
  margin-left: 4rem;
}

.desktop .navbar {
  position: absolute;
  width: 1440px;
  height: 125px;
  top: 94px;
  left: 0;
}

.desktop .logo {
  position: absolute;
  width: 215px;
  height: 89px;
  top: 18px;
  left: 115px;
  object-fit: cover;
}

.desktop .navbar-2 {
  position: absolute;
  width: 822px;
  height: 19px;
  top: 55px;
  left: 391px;
}

.desktop .text-wrapper-12 {
  left: 0;
  position: absolute;
  top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-13 {
  left: 245px;
  text-align: center;
  position: absolute;
  top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-14 {
  left: 425px;
  text-align: center;
  position: absolute;
  top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-15 {
  left: 611px;
  text-align: center;
  position: absolute;
  top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-16 {
  left: 772px;
  text-align: center;
  position: absolute;
  top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .latest {
  position: absolute;
  width: 1440px;
  height: 94px;
  top: 0;
  left: 0;
}

.desktop .navbar-3 {
  position: relative;
  width: 1093px;
  height: 19px;
  top: 37px;
  left: 173px;
}

.desktop .bitcoin {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .span {
  color: #ffffff;
}

.desktop .text-wrapper-17 {
  color: #a72121;
}

.desktop .dogecoin {
  position: absolute;
  top: -1px;
  left: 232px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-18 {
  color: #21a782;
}

.desktop .ethereum {
  position: absolute;
  top: -1px;
  left: 484px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .pepe {
  position: absolute;
  top: -1px;
  left: 737px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .shiba-inu {
  position: absolute;
  top: -1px;
  left: 956px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
form-inline {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin-right: 10px;
}

label {
  margin-right: 5px;
}

/* Style the select dropdown */
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style the submit button */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for the submit button */
.btn-primary:hover {
  background-color: #0056b3;
}
/*.latest {*/
/*  width: 1440px;*/
/*  height: 94px;*/
/*}*/

/*.latest .navbar {*/
/*  position: relative;*/
/*  width: 1093px;*/
/*  height: 19px;*/
/*  top: 37px;*/
/*  left: 173px;*/
/*}*/

.latest .bitcoin {
  /*position: absolute;*/
  /*top: -1px;*/
  /*left: 0;*/
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.latest .text-wrapper {
  color: #ffffff;
}

.latest .span {
  color: #a72121;
}
.form-inline {
    display: flex;
    gap: 10px; /* Adjust the gap as needed */
}


.form-inline {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.profile-picture-container {
        width: 300px; /* Adjust the width and height based on your preference */
        height: 300px;
        overflow: hidden;
        border-radius: 50%; /* Create a circular shape */
        border: 2px solid #ccc; /* Add a border */
    }

.profile-picture-container img {
        width: 100%; /* Make the image fill the container */
        height: auto; /* Maintain aspect ratio */
    }