<!-- coinmarketapp/templates/coinmarketapp/crypto_list.html -->

{% extends 'coinmarketapp/base.html' %}
{%  load static %}

{% block content %}

    <main>
    <!-- Add a form with a button to trigger the server-side rendering -->
            <form method="POST" action="{% url 'trends_view' %}">
                {% csrf_token %}
                <button type="submit" class="sign-up-btn">Highlights</button>
            </form>

            <!-- Create a container for the dynamic content -->
            <div id="dynamic-content-container">
            <!-- Content loaded dynamically will appear here -->
            </div>

        <section class="crypto-list">
            <h1>Cryptocurrency Market</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Market Cap</th>
                    <th>Price</th>
                    <th>24h Volume</th>
                    <th>Action</th>  <!-- New column for Purchase action -->
                </tr>
                {% for cryptocurrency in cryptocurrencies %}
                    <tr>
                        <td>{{ cryptocurrency.name }}</td>
                        <td>{{ cryptocurrency.symbol }}</td>
                        <td>${{ cryptocurrency.market_cap }}</td>
                        <td>${{ cryptocurrency.price }}</td>
                        <td>${{ cryptocurrency.volume_24h }}</td>
                        <td>
                            {% if user.is_authenticated %}
                                <a href="{% url 'purchase_crypto' crypto_id=cryptocurrency.id %}">Purchase</a>
                            {% else %}
                                <a href="{% url 'login' %}">Login to Purchase</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="crypto-rates">
                <h2>Cryptocurrency Rates</h2>
                <ul>
                    {% for key, value in crypto_rates.items %}
                        <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

