{% extends 'coinmarketapp/base.html' %} {% load static %} {% block content %}

<section class="section-crypto-list">
  <div class="toggle-highlights" id="accordion">
    <div
      class="card"
      style="
        background-color: #303135;
        color: white;
        display: flex;
        justify-content: right;
        border-color: transparent;
      "
    >
      <div
        class="card-header"
        id="headingOne"
        style="
          background-color: #303135;
          display: flex;
          justify-content: flex-end;
          border-color: transparent;
        "
      >
        <h5 class="mb-0">
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              data-toggle="collapse"
              data-target="#collapseOne"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              aria-expanded="true"
              aria-controls="collapseOne"
              checked
              style="background-color: #21a782"
            />
            <label class="form-check-label" for="flexSwitchCheckChecked"
              >Highlights</label
            >
          </div>

        </h5>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="card-body bg-color-primary">
          {% block trending %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
  <!-- Create a container for the dynamic content -->
  <div id="dynamic-content-container">
    <!-- Content loaded dynamically will appear here -->
  </div>
  <div class="crypto-list">
    <h1>Cryptocurrency Market</h1>
    <div class="form-inline">

      <form method="GET" class="form-inline">
        <div class="form-group">
          <label>Rows:</label>
          {{ form.number_of_rows }}
          <button
            type="submit"
            class="btn btn-primary"
            style="font-size: 12px; padding: 3px 6px"
          >
            Select
          </button>
        </div>
      </form>
      <form method="get" >
      <input type="text" name="search" placeholder="Search...">
      <button type="submit">Search</button>
  </form>
        </div>

    <div class="table-container">
      <table>
        <tr>
          <th>Name</th>
          <th>Symbol</th>
          <th>Market Cap</th>
          <th>Price</th>
          <th>24h Volume</th>
        </tr>
        {% for cryptocurrency in cryptocurrencies|slice:number_of_rows %}
        <tr
          style="cursor: pointer"
          data-crypto-name="{{ cryptocurrency.name }}"
          onclick="redirectToDetailsPage(this)"
        >
          <td>{{ cryptocurrency.name }}</td>
          <td>{{ cryptocurrency.symbol }}</td>
          <td>${{ cryptocurrency.market_cap }}</td>
          <td>${{ cryptocurrency.price }}</td>
          <td
            class="{% if cryptocurrency.volume_24h < 0 %}text-danger{% else %}text-success{% endif %}"
          >
            {{ cryptocurrency.volume_24h }}%
          </td>
        </tr>
        {% endfor %}
      </table>
{#    <p>Total Number of Currencies: {{ number_of_rows }}</p>#}
    </div>
  </div>
</section>

<script>
  function redirectToDetailsPage(row) {
    var cryptoName = row.getAttribute("data-crypto-name");
    var detailsPageUrl = "/currencies/" + cryptoName + "/"; // Use the Django URL pattern
    window.location.href = detailsPageUrl;
  }
</script>

{% endblock %}
