{% extends "coinmarketapp/base.html" %}
{% load static %}
{% block content %}
    <section class="crypto-list">
        <div class="background-image" style="background-image: '{% static 'coinmarketapp/crypto.jpg' %}'">
            <h1 class="crypto-list h1">Join DIGIX Now!</h1>
            <p>Get the latest updates in Crypto trends and the best exchange rates!</p>
            <a href="#signup" class="sign-up-btn">Sign Up</a>
        </div>
    </section>
    <!-- Add more sections as needed (About, Features, Testimonials, etc.) -->
    <section id="about" class="about-section">
        <!-- Content for the About section -->
    </section>
{% endblock %}


