<!-- coinmarketapp/templates/coinmarketapp/trends.html -->

{% extends 'coinmarketapp/base.html' %}
{%  load static %}

{% block content %}

    <main>
        <h1>TRENDS PAGE</h1>

             <div class="trend">
                <img src="{% static 'coinmarketapp/trends.png' %}" alt="CoinMarketApp">
             </div>

        <section class="crypto-list">
            <h1>Cryptocurrency Market</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Market Cap</th>
                    <th>Price</th>
                    <th>24h Volume</th>
                </tr>
                {% for cryptocurrency in cryptocurrencies %}
                <tr>
                    <td>{{ cryptocurrency.name }}</td>
                    <td>{{ cryptocurrency.symbol }}</td>
                    <td>${{ cryptocurrency.market_cap }}</td>
                    <td>${{ cryptocurrency.price }}</td>
                    <td>${{ cryptocurrency.volume_24h }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="crypto-rates">
                <h2>Cryptocurrency Rates</h2>
                <ul>
                    {% for key, value in crypto_rates.items %}
                    <li>{{ key }}: {{ value }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
{% endblock %}

