<!-- coinmarketapp/templates/coinmarketapp/user_profile.html -->
{% extends 'coinmarketapp/base.html' %}

{% block content %}
    <main>
        <section class="user-profile">
            <h1>{{ user_wallet.user.username }}'s Wallet</h1>
            <p>Total balance: ${{ total_balance }}</p>

            <h2>Cryptocurrencies in your wallet:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>Quantity</th>
                        <th>Market Cap</th>
                        <th>Price</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cryptocurrency in cryptocurrencies %}
                        <tr>
                            <td>{{ cryptocurrency.name }}</td>
                            <td>{{ cryptocurrency.symbol }}</td>
                            <td>{{ cryptocurrency.quantity }}</td>
                            <td>${{ cryptocurrency.market_cap }}</td>
                            <td>${{ cryptocurrency.price }}</td>
                            <td>${{ cryptocurrency.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
{% endblock %}
