<!-- coinmarketapp/templates/coinmarketapp/user_profile.html -->

{% extends 'coinmarketapp/base.html' %}{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
    <main>
        <section class="user-profile" style="color: white">
            {% if msg %}
                <p>{{ msg }}</p>
            {% endif %}
            <div>
                <h2>Your Wallet</h2>
                {% if wallets %}
                    <ul style="font-size: 18px">
                        {% for name, amount in wallets.items %}
                            <li>{{ name }}: &nbsp; {{ amount }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="hint"><strong>You haven't bought anything yet</strong></p>
                {% endif %}
                <p> Want to buy cryptocurrency? <a href="{% url 'render_payment_page' %}"> click me.</a></p>
            </div>
            <br>
            <h2>Order History</h2>
            {% if orders %}
                {% for order in orders %}
                    <div style="font-size: 18px">
                        <div>Order &nbsp; #{{ forloop.counter }}: &nbsp; {{ order.get_order_status_display }}</div>
                        <ul>
                            <li>Order &nbsp; Total: {{ order.amount }}{{ order.currency }}</li>
                            <li>Order &nbsp; Detail: {{ order.crypto_amount }}{{ order.crypto_currency.symbol }}</li>
                            <li>Order &nbsp; Date: {{ order.created }}</li>
                            {% if order.order_status == 0 %}
                                <a href="{% url 'complete_order' order_id=order.id %}" style="
                                padding: 5px 10px;
                                background-color: #007bff;
                                color: white;
                                text-align: center;
                                text-decoration: none;
                                border-radius: 5px;
                                font-weight: bold;
                                transition: background-color 0.3s;
                                "> complete order now </a>
                            {% endif %}
                        </ul>
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <p class="hint"><strong>You don't have any ordered yet</strong></p>
            {% endif %}
        </section>
    </main>
{% endblock %}
