main {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
}

section {
    background-color: rgba(163, 168, 168, 0.92);
    border-radius: 8px;
    justify-content: center;
    width: 30vw;
    border: 1px solid rgb(32, 33, 33);
    padding: 10px;
    overflow-y: scroll;
}

.hint {
    color: rgb(49, 51, 56);
    font-size: 18px;
    line-height: 20px;
    padding-top: 12px;
    text-align: center;
}